@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* {
	padding: 0px;
	margin: 0px;
}

.App {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.left_app {
	min-height: 100vh;
	max-width: 20vw;
	border: 1px solid red;
}

.editButton {
	
}

.deleteButton {
	color: red;
	font-size: 30px;
}

.editButton,
.deleteButton:hover {
	cursor: pointer;
}

.yesButton {
	background-color: red;
	color: black;
}

.noButton {
	background-color: white;
	color: black;
}

.modal {
	border: 1px solid red;
	background-color: gray;
	max-width: max-content;
	align-self: center;
	align-items: center;
}

.closeButton:hover {
	background: red;
	cursor: pointer;
} */
